{
  "singleQuote": true,
  "plugins": ["prettier-plugin-packagejson"],
  "overrides": [
    {
      "files": ["*.xsd"],
      "options": {
        "xmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
